<div>
    <header>
        <nav>
            <div class="navbar-header">
                <p class="lead">WebSiteName</p>
            </div>
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="showDiv()" ng-show="hideBtn">
                        <a href="#login">Login</a>
                    </li>
                    <li ng-click="showDiv()" ng-hide="hideBtn">
                        <a href="#register">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
<div id="divMain">
    <form id="formSearch" name="searchForm" ng-submit="search()">
        <label for="searchField">Search</label>
        <input id="searchField" ng-model="data.search" name="mainSearch" type="text" />
        <button id="searchBut" type="submit">Search</button>
    </form>
</div>
</div>