<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
    <!--<ui-gmap-window coords="MapOptions.markers.selected.coords" show="windowOptions.show" options="windowOptions" closeClick="closeClick()">
        <div>Hello</div>
    </ui-gmap-window>-->
    <ui-gmap-markers models="mapMarkers" coords="'self'" icon="'icon'" fit="true" chunk="10" events="map.markersEvents">
        <!--<ui-gmap-window 
        show="map.window.show" 
        coords="map.window.model" 
        templateUrl="'infowindow.tpl'" 
        templateParameter="map.window.model"
        options="map.window.options" 
        ng-cloak>
        </ui-gmap-window>-->
    </ui-gmap-markers>
</ui-gmap-google-map>