<ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
    <ui-gmap-markers id="id" models="mapMarkers" coords="'self'" icon="'icon'" type="'cluster'" fit="true" chunk="10" events="map.markersEvents">
        <a href="#" ng-click="openInfoWindow($event, markers[0])">{{markers[0].title}}</a>
    </ui-gmap-markers>
</ui-gmap-google-map>



<div id="containerSearch">
    <form role="form" ng-submit="searchMe()">
        <!-- Search Field -->
        <div class="row">
            <h1 id="searchRes" class="text-center">Enter key word</h1>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="searchResult" name="search" placeholder="Search" required/>
                    <span class="input-group-btn">
                                <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"><span style="margin-left:10px;">Search</span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sx-4">
                <div class="checkBut">
                    <div class="checkBut-default">
                        <input type="checkbox" id="checkbox1" checked name="checkBoxRest" ng-click="clickForCheck()" ng-model="checkRestaurant" />
                        <label for="checkbox1">Restaurants</label>
                    </div>
                </div>
            </div>
            <div class="col-sx-4">
                <div class="checkBut">
                    <div class="checkBut-primary">
                        <input type="checkbox" id="checkbox2" checked ng-model="checkShop" ng-click="clickForCheck()" name="checkBoxShop" />
                        <label for="checkbox2">Shopping</label>
                    </div>
                </div>
            </div>
            <div class="col-sx-4">
                <div class="checkBut">
                    <div class="checkBut-success">
                        <input type="checkbox" id="checkbox3" checked name="checkBoxEnter" ng-model="checkEntertainment" ng-click="clickForCheck()" />
                        <label for="checkbox3">Entertainment</label>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

<section ng-show="showResults" ng-repeat="business in businesses" ng-class>
    <article>
        <div class="container">
            <div class="panel">
                <!--/stories-->
                <div id="artc-res" class="row">
                    <br>
                    <div class="col-md-2 col-sm-3 text-center">
                        <img alt="" ng-src="{{business.image}}" class="img-thumbnail">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Rating: {{business.currentRating}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a id='writeAReviewA' data="{{business.id}}" ng-click="reviewWrite(business.id)">write a review</a>
                            </div>
                            <div class="col-xs-12">
                                <span ng-click="removeItem($index)">Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h3 class="text-primary">{{business.name}}</h3>
                        <div class="row">
                            <div class="col-xs-10">

                                <p id="addressInfo">{{business.address}}</p>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xs-12">
                                <p class="bg-info">
                                    {{business.description}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <hr>
        </div>

    </article>
</section>