<div class="container">
    <div class="row main">
        <div class="main-login main-center">

            <form name="regForm" ng-submit="regMe()">

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Your Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="usernaname" id="username" placeholder="Enter your Name" ng-model="user.username" required="" />

                        </div>
                        <p class="erromMasReg">{{errorUserMessage}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" ng-model="user.email" required="" />
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" ng-model="user.password" required="" />

                        </div>
                        <p class="erromMasReg">{{errorPassMessage}}</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" required="" ng-model="user.passwordConf" />

                        </div>
                        <p class="erromMasReg">{{errorPassConfMessage}}</p>
                    </div>
                </div>


                <div class="form-group">
                    <label for="checkDiv" class="cols-sm-2 control-label">Would like to be able to add your own business</label>
                    <div id="checkBoxWrapper" class="cols-sm-2">
                        <div id="checkDiv">
                            <input id="typeUser" ng-click="doIfClicked()" name="checkBusiness" type="checkbox" value="Yes" />
                        </div>
                    </div>

                </div>
                <div class="form-group cols-sm-3">
                    <button id="createAccount" type="submit" class="btn btn-primary btn-lg btn-block login-button">Create account</button>
                </div>
            </form>
        </div>
    </div>
</div>