body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/yelpMain.jpg");
}

a {
    color: #00B7FF;
}

;
#formSearch {
    padding-left: 50em;
}

#divMain {
    background-color: blue;
    text-align: center;
    margin: 10em auto;
    padding: 1em;
}

#searchField {
    width: 20em;
}

#logBut,
#regBut {
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 1.3em;
}

.angular-google-map-container {
    margin: auto;
    width: 40em;
    height: 30em;
}

@media screen and (max-width: 650px) {
    .angular-google-map-container {
        margin: auto;
        width: 25em;
        height: 20em;
    }
}
@media screen and (max-width: 450px) {
    .angular-google-map-container {
        margin: auto;
        width: 90%;
        height: 15em;
    }
}

#map {
    height: 420px;
    width: 600px;
}

.infoWindowContent {
    font-size: 14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.text-center {
    text-align: center;
}

li span {
    float: right;
    cursor: pointer;
}

#esImg {
    width: 100px;
    height: 100px;
}

.container-fluid {
    background-color: #009edf;
}

.navbar-custom {
    color: #ffffff;
    border-radius: 0;
}

.navbar-custom .navbar-nav>li>a {
    color: #fff;
}

.navbar-custom .navbar-nav>.active>a {
    color: #000;
    background-color: transparent;
}

.navbar-custom .navbar-nav>li>a:hover,
.navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>.active>a:hover,
.navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a {
    text-decoration: none;
    background-color: #8B4513;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.navbar-custom .navbar-toggle {
    background-color: #eeeeee;
}

.navbar-custom .icon-bar {
    background-color: #33aa33;
}


/* Serach Bar*/

.checkBut div {
    clear: both;
    overflow: hidden;
}

.checkBut label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid khaki;
    font-weight: normal;
}

.checkBut-default,
.checkBut-primary,
.checkBut-success>label {
    color: white
}

.checkBut input[type="checkbox"]:empty {
    display: none;
}

.checkBut input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkBut input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #117311;
    border-radius: 3px 0 0 3px;
}

.checkBut input[type="checkbox"]:hover:not(:checked)~label {
    color: khaki;
}

.checkBut input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #A2A;
}

.checkBut input[type="checkbox"]:checked~label {
    color: #4F4;
}

.checkBut input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.checkBut input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.checkBut-default input[type="checkbox"]:checked~label:before {
    color: #333;
    background-color: #ccc;
}

.checkBut-primary input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #337ab7;
}

.checkBut-success input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5cb85c;
}


/* Result Articles*/

#artc-res {
    background-color: khaki;
}

.bg-info {
    padding: 1.3em;
    border-radius: 10%;
}


/*
/*.fade {
  transition: 1s linear all;
  -webkit-transition: 1s linear all;
}

.fade.ng-enter {
  opacity: 0.5;
}

.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity: 0.5;
}*/

.wrapper {
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
    max-width: 420px;
    padding: 30px 38px 66px;
    margin: 0 auto;
    background-color: #009edf;
    border: 3px dotted rgba(0, 0, 0, 0.1);
}

.form-signin-heading {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

input[type="text"] {
    margin-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#welcomLog {
    color: khaki;
}

#errorMessage {
    margin-top: 1.1em;
    color: red;
    text-align: center;
    font-size: 16px;
}

.colorgraph {
    height: 7px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    width: 70%;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/* REGISTER */

#playground-container {
    height: 500px;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
}

.main {
    margin: 50px 15px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr {
    width: 10%;
    color: #fff;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-control {
    height: auto!important;
    padding: 8px 12px !important;
}

.input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.21)!important;
}

#checkBoxWrapper {
    text-align: center;
}

#checkDiv {
    text-align: center;
    border-radius: 40%;
    display: inline-block;
    width: 20%;
    border: 2px solid khaki;
}

#createAccount {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}

.main-center {
    margin-top: 30px;
    margin: 0 auto;
    max-width: 400px;
    padding: 10px 40px;
    background: #009edf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

span.input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-button {
    margin-top: 5px;
}

.login-register {
    font-size: 11px;
    text-align: center;
}

.erromMasReg {
    text-align: center;
    font-size: 1.3em;
    border: 1px dotted khaki;
    border-radius: 20%;
}


/*  REVIEWS */

#writeReviewAnchor {
    text-align: center;
    cursor: pointer;
}

#writeAReviewA{
 cursor: pointer;
}

#searchRes, #nameObj{
    color: white;
}
/* uses font awesome for social icons */

@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.page-header {
    text-align: center;
}


/*social buttons*/

.btn-social {
    color: white;
    opacity: 0.9;
}

.btn-social:hover {
    color: white;
    opacity: 1;
}

.btn-facebook {
    background-color: #3b5998;
    opacity: 0.9;
}

.btn-twitter {
    background-color: #00aced;
    opacity: 0.9;
}

.btn-linkedin {
    background-color: #0e76a8;
    opacity: 0.9;
}

.btn-github {
    background-color: #000000;
    opacity: 0.9;
}

.btn-google {
    background-color: #c32f10;
    opacity: 0.9;
}

.btn-stackoverflow {
    background-color: #D38B28;
    opacity: 0.9;
}


/* resume stuff */

.bs-callout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #eee;
    border-image: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    margin-bottom: 5px;
    padding: 20px;
}

.bs-callout:last-child {
    margin-bottom: 0px;
}

.bs-callout h4 {
    margin-bottom: 10px;
    margin-top: 0;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.resume .list-group-item:first-child,
.resume .list-group-item:last-child {
    border-radius: 0;
}


/*makes an anchor inactive(not clickable)*/

.inactive-link {
    pointer-events: none;
    cursor: default;
}

.resume-heading .social-btns {
    margin-top: 15px;
}

.resume-heading .social-btns i.fa {
    margin-left: -5px;
}

@media (max-width: 992px) {
    .resume-heading .social-btn-holder {
        padding: 5px;
    }
}


/* skill meter in resume. copy pasted from http://bootsnipp.com/snippets/featured/progress-bar-meter */

.progress-bar {
    text-align: left;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.progress-bar>.progress-type {
    padding-left: 10px;
}

.progress-meter {
    min-height: 15px;
    border-bottom: 2px solid rgb(160, 160, 160);
    margin-bottom: 15px;
}

.progress-meter>.meter {
    position: relative;
    float: left;
    min-height: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(160, 160, 160);
}

.progress-meter>.meter-left {
    border-left-width: 2px;
}

.progress-meter>.meter-right {
    float: right;
    border-right-width: 2px;
}

.progress-meter>.meter-right:last-child {
    border-left-width: 2px;
}

.progress-meter>.meter>.meter-text {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    width: 100%;
    font-weight: 700;
    font-size: 0.85em;
    color: rgb(160, 160, 160);
    text-align: left;
}

.progress-meter>.meter.meter-right>.meter-text {
    text-align: right;
}

#revImg {
    text-align: center;
}

#butRev {
    text-align: right;
}


/* OPTIONS HTM */

#ratingRev {
    text-align: center;
}

#cont  {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: black;   
}
#cont input{
    color: #000
}
#passVal {
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: #00B7FF;
    border-radius: 5%;
    color: #fff;
}

#createAccountBut {
    border-radius: 50%;
    margin-bottom: 0.3em;
}