body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/yelpMain.jpg");
}

a {
  color: #00B7FF;
};
#formSearch{
  padding-left: 50em;
}
#divMain{
  background-color: blue;
  text-align: center;
  margin: 10em auto;
  padding: 1em;
}
#searchField{
  width: 20em;
}
#logBut, #regBut{
  border: 1px solid blue;
  border-radius: 10px;
  margin-top: 1.3em;
}

.angular-google-map-container {
  margin:auto;
  width: 500px;
  height: 400px; 
}

#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}